.flowerbox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.logo {
  grid-row: 2/3;
  grid-column: 1/4;
  background-image: url("https://i.imgur.com/U8tiT5X.png");
}

.product {
  grid-column: 1/4;
  grid-row: 3/6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.productInfo {
  background-color: antiquewhite;
  margin: 10px;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: bisque;
  grid-column: 1/4;
}


